@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neutral-900: #02012C;
  --color-neutral-800: #262540;
  --color-neutral-700: #302F4A;
  --color-neutral-600: #3C3B5E;
  --color-neutral-300: #ACACB7;
  --color-neutral-200: #D4D3D9;
  --color-neutral-0: #FFFFFF;

  --color-orange-500: #FF820A;
  --color-blue-500: #4658D9;
  --color-blue-700: #2B19BC;

  --font-sans: var(--font-dm-sans), sans-serif;
  --font-display: var(--font-bricolage), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-foreground font-sans;
}
